@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

    /* background: linear-gradient(to bottom, rgba(236, 229, 229, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;  */
    /* background: linear-gradient(to bottom, rgba(236, 229, 229, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;  */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
label{
    font-weight: bold;
    font-size: large;
}
.nav-link{
    color: #575757;
    font-weight: bold;
    font-size: large;
}
.text-white {
    color: #000 !important;
  }
  .table .thead-dark th {
    color: #fff;
    background-color: #e8155d;
    border-color: #e8155d;
  }
  .bg-dark {
    background-color: #e8155d !important;
  }
  .navbar .nav-link {
    color: #000 !important;
  }
  .bg-main-section {
    background-color: #e9ecefc2;
    padding: 20px;
    /* height: 91vh; */
}
.jumbotron.jumbo-color {
  background-color: #fff;
}
a.btn.btn-primary.login-btn {
  background-color: #e8155d;
  border: none;
}
.login-btn {
  background-color: #e8155d;
  border: none;
  padding: 7px 22px;
  color: #fff;
    border-radius: 5px;
}
.text-bold.text-dark {
  font-weight: 500;
  color: #343a40d6;
}
h1.display-6 {
  font-size: 36px;
  margin-bottom: 14px;
}
.navbar .logo img {
  width: 75px;
}
.form-group label {
  font-weight: 500;
  font-size: 16px;
}
.login-page {
  width: 485px;
  background-color: #fff;
  padding: 58px 25px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  position: relative;
}
.form-group input {
  font-weight: 500;
}
.login-sec .form-group select {
  background-color: #e9ecefc2;
  height: 40px;
  border: none;
}
.login-sec {
  height: 81vh;
  display: flex;
  align-items: center;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: 500;
}
.navbar .navbar-nav {
  padding-left: 38px;
  width: 100%;
  justify-content: space-between;
}
.profile-img img {
  width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid #00000057;
}
.desi-name h3.text {
  line-height: 1;
  font-size: 20px;
}
.progress-text .details {
  background-color: #e9ecefc2;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.progress-text .row {
  display: flex;
  align-items: center;
}
.progress-text .col-3 {
  font-weight: 500;
}
.progress-text .col-7.details {
  font-weight: 500;
}
h2.section-title.datails {
  font-size: 30px;
}
.employee-details form {
  column-count: 2;
  column-gap: 90px;
}
.employee-details .form-group .form-control {
  background-color: #e9ecefc2;
  height: 40px;
  border: none;
}
.employee-details .form-group label {
  font-weight: 500;
  margin-bottom: 2px;
}
input:focus {
  box-shadow: none !important;
}
label:focus-visible {
  outline: none !important;
}
.employee-details form input.button.login-btn {
  margin-top: 31px;
}
.usera-table {
  background-color: #fff;
}
.edit-emply .form-group div#id_password {
  display: none;
}
.edit-emply .form-group:nth-last-child(even) {
  display: none;
}
.edit-emply form {
  column-count: 2;
  column-gap: 90px;
}
.edit-emply .form-group .form-control {
  background-color: #e9ecefc2;
  height: 40px;
  border: none;
}
.edit-emply input.btn.btn-secondary.login-btn {
  margin-top: 37px;
}
.edit-emply .form-group label {
  font-weight: 500;
  margin-bottom: 2px;
}
.edit-emply p {
  font-weight: 500;
}
.login-sec .form-group input {
  background-color: #e9ecefc2;
  height: 40px;
  border: none;
}
.form-group input {
  background-color: #e9ecefc2;
  height: 40px;
  border: none;
}
.view-table {
  background-color: #fff;
  border-radius: 12px;
}
.view-table .thead-darks th {
    font-weight: 600;
    color: #000;
}
/* .view-table td.text {
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid #0000003b;
  border-bottom-style: dotted;
} */
.view-table .thead-darks th {
  font-weight: 600;
  color: #000000b8;
  font-size: 14px;
}
.table tbody tr:last-child, .table tr:last-child{
  border-bottom: 0 !important;
}
.table tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: var(--kt-border-color);
}
.table tr {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #0000002b;
}
.view-table td.text {
  font-weight: 500;
}
.alert.alert-success.alert-dismissable {
  width: 25%;
  padding: 6px 10px;
  margin-left: 20px;
  background-color: #e9ecefc2;
}
.alert-success strong {
  color: green;
  font-weight: 500;
}
.head.min-w-75.w-75 {
  width: 75px !important;
  min-width: 75px !important;
}
.head.min-w-150.w-150 {
  width: 150px !important;
  min-width: 150px !important;
}
.head.min-w-100.w-100 {
  width: 100px !important;
  min-width: 100px !important;
}
.head.min-w-250.w-250 {
  width: 250px !important;
  min-width: 250px !important;
}
.view-table.employee-table {
  overflow-x: scroll;
  width: 100%;
}
a.view-color-dark {
  background-color: #0000000f;
  padding: 2px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin: 9px 0;
  color: #000000b8;
  font-size: 15px;
}
a:hover {
  text-decoration: none !important;
}
.employee-table input.btn.btn-danger.btn-sm {
  padding: 2px 7px;
}
.view-table.employee-table::-webkit-scrollbar-thumb {
  background: #aba9a3;
  border-radius: 5px;
}
.view-table.employee-table::-webkit-scrollbar-track {
  border-radius: 5px; 
}
.view-table.employee-table::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}


.information .attend-card {
  width: 98%;
  position: relative;
}
.information .attend-card .submit-btn {
  position: absolute;
  right: 8px;
  top: 8px;
}
.information .attend-card .submit-btn input {
  background-color: #e8155d;
  padding: 8px 25px;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 35px;
  font-size: 20px;
  font-weight: 700;
}



/* accordion */


/* .sidebar-content .item .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-content .item a {
  color: #1f1f1f;
  font-weight: bolder;
} */



.sidebar-content .item{
  position: relative;
  cursor: pointer;
 }
 
 .sidebar-content .item a{
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 0px 16px;
  line-height: 60px;
  font-weight: bold;
  color: #575757;
 }
 
 .sidebar-content .item a:hover{
  transition: 0.3s ease;
  background: #57575738;  
  border-radius: 5px;
 }
 
 .sidebar-content .item i{
  margin-right: 15px;
 }
 
 .sidebar-content .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 
 .sidebar-content .item .sub-menu{
  display: none;
 }
 
 .sidebar-content .item .sub-menu a{
  padding-left: 35px;
  position: relative;
  line-height: 35px;
 }
 .sidebar-content .item .sub-menu a::before {
  content: '';
  position: absolute;
  background: #000;
  top: 14px;
  left: 19px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
 .rotate{
  transform: rotate(90deg);
 }

 .sidebar-content img {
  width: 70px;
  padding: 19px 0 0;
}
/* .navbar-sec .prof-img {
  display: flex;
  align-items: center;
} */

.navbar-sec {
  width: 100%;
  height: 85px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #818181;
}
.navbar-sec .wdi-img img {
  width: 65px;
}
.navbar-sec .prof-inn img {
  width: 65px;
  border-radius: 50%;
}
.navbar-sec .wdi-img {
  padding-left: 68px;
}
.sidebar-content {
  padding-top: 20px;
}
.sidebar-content nav.nav.flex-column li a:hover {
  background: #57575738;
  border-radius: 5px;
  margin-right: 4px;
}
.sidebar-content nav li a.nav-link {
  color: #000;
  padding: 17px 18px;
}
.sidd .col-sm-2 {
  padding-right: 0px;
}
.sidebar-content .item a {
  margin-right: 4px;
  color: #000;
}
.ful-contents {
  background: #f4f6f9;
}
.sidebar-content.border-warning {
  border-color: #f4f6f9 !important;
  border-right: 2px solid #818181 !important;
}
.information.mt-10 .row {
  justify-content: center;
  margin-bottom: 2rem;
}
.ful-contents h2 {
  padding: 20px 0 12px 12px;
  font-size: 30px;
}
.ful-contents table tr th {
  font-weight: 500;
  font-size: 18px;
  color: #4c4c4c;
}
.ful-contents table tr td {
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.ful-contents .card {
  padding: 20px 15px;
  border-radius: 15px;
  border: 0;
  margin: 0 15px;
}
.ful-contents h3.card-title {
  font-size: 26px;
  padding-left: 11px;
  padding-bottom: 15px;
}
.checkin .row {
  justify-content: inherit !important;
}

.checkin {
  width: 62%;
  margin-top: 45px;
}
.checkin .progress-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.information .attend-card h4 {
  font-size: 26px;
  padding-left: 11px;
}
.information.mt-10 .d-flex {
  margin-bottom: 1rem;
}
.row.sidd {
  height: 87vh;
}
/* .navbar-sec .prof-inn {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.navbar-sec .item {
  position: relative;
  cursor: pointer;
  padding: 0 25px 0 0px;
}
.navbar-sec .item a {
  margin-right: 4px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 0px 16px;
  line-height: 55px;
  font-weight: bold;
}
.navbar-sec .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
  transform: rotate(90deg);
}
.navbar-sec .item a .dropdown.rotate {
  transform: rotate(270deg);
}
.navbar-sec .item .sub-menu {
  display: none;
  position: absolute;
  top: 79px;
  background: #fff;
  z-index: 9999;
  border-radius: 4px;
  width: 56%;
  text-align: center;
  border: 2px solid #818181;
  right: 14px;
  
}

.navbar-sec .rotate{
  transform: rotate(270deg);
 }
 .navbar-sec .item a.sub-btn {
  font-size: 20px;
}
/* .navbar-sec .prof-inn:hover {

  border-radius: 4px;
  padding: 5px 0px 5px 0px;
} */
.login-sec .login-page .forget-bttn {
  position: absolute;
  right: 6%;
  bottom: 28%;
}
.row.alertmessage {
  position: absolute;
  width: 100%;
  top: 12%;
  left: 73%;
  z-index: 999;
}