{% extends 'app/base.html' %}
{% load static %}
{% block msg %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissable fade show" {% endif %}>
    <strong>{{message}}</strong><button type="button" class="close" data-dismiss="alert" area-label="Close"><span
            area-hidden="True">&times;</span></button></div>
{% endfor %}
{% endif %}
{% endblock msg %}
{% block content %}
<div class="login-sec">
    <div class="login-page">
        {% if request.user.is_authenticated %}
        <h4>Add Today's Tasks</h4>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {% for fm in form %}
            <div class="form-group">
                {{ fm.label_tag }}
                {{ fm }}
                {{ fm.errors|striptags }}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
        
            <input class="button login-btn" type="submit" name="Add Ips"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}