<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <title>WDIPL</title>
</head>
<body>

<div class="row alertmessage">
      {% block msg %}
      {% endblock msg %}
</div>
<div class="container-fluid">
  <div class="row">
    {% include 'app/navbar-1.html' %}
  </div>
<div class="row sidd">

<div class="col-sm-2">
  {% include 'app/navbar.html' %}
</div>
{% comment %} <div class="row-sm-1">
  {% include 'app/navbar-1.html' %}
</div> {% endcomment %}
<div class="col-sm-10 ful-contents">
    {% block content %}
    
    {% endblock content %}
</div>
</div>
</div>

  <script src="{% static 'app/js/main.js' %}"></script>
  <script src="{% static 'app/js/jquery.js' %}"></script>
  <script src="{% static 'app/js/popper.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.js' %}"></script>
  
</body>
</html>