{% extends 'app/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissable fade show" {% endif %}> <strong>{{message}}</strong><button type="button" class="close" data-dismiss="alert" area-label="Close"><span area-hidden="True">&times;</span></button></div>
    {% endfor %}
    {% endif %}
{% endblock msg %}
{% block content %} 
<br>
{% if request.user.hr == True %}
 

<div class="view-table employee-table">
  <table class="table">
      <thead class="thead-darks">
          <tr class="text-start text-muted fw-bold fs-7 gs-0">
              <th class="head min-w-75 w-75">Employee Code</th>
              <th class="head min-w-150 w-150">Employee Name</th>
              <th class="head min-w-100 w-100">Email</th>
              <th class="head min-w-100 w-100">Gender</th>
              <th class="head min-w-100 w-100">Date of Birth</th>
              <th class="head min-w-100 w-100">Date of Joining</th>
              <th class="head min-w-100 w-100">Phone</th>
              <th class="head min-w-100 w-100">Qualification</th>
              <th class="head min-w-250 w-250">Address</th>
              <th class="head min-w-100 w-100">CTC</th>
              <th class="head min-w-100 w-100">Resume</th>
              <th class="head min-w-100 w-100">Picture</th>
              <th class="head min-w-100 w-100">Edu Docs</th>
              <th class="head min-w-100 w-100">Aadhar</th>
              <th class="head min-w-100 w-100">Pan</th>
              <th class="head min-w-100 w-100">Certificate</th>
              <th class="head min-w-100 w-100">Additional Certificate</th>
              <th class="head min-w-100 w-100">Action</th>
          </tr>
      </thead>
      <tbody>
          {% for el in employee_list %}
          <tr>
            <td class="text">{{ el.emp_id }}</td>
            <td class="text"><a style="color:inherit;" href="{% url 'edit-employee' el.id %}">{{ el.name }}</a></td>
            <td class="text">{{ el.email }}</td>
            <td class="text">{{ el.gender }}</td>
            <td class="text">{{ el.date_of_birth }}</td>
            <td class="text">{{ el.joining_date }}</td>
            <td class="text">{{ el.phone }}</td>
            <td class="text">{{ el.qualification }}</td>
            <td class="text">{{ el.address }}</td>
            <td class="text">{{ el.ctc }}</td>
            <td class="text">
              {% if el.resume %}
              <a href="{{ el.resume.url }}" class=" view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.picture %}
              <a href="{{ el.picture.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.edu_docs %}
              <a href="{{ el.edu_docs.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.aadhar %}
              <a href="{{ el.aadhar.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.pan %}
              <a href="{{ el.pan.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.certificate %}
              <a href="{{ el.certificate.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            <td class="text">
              {% if el.additional_certificate %}
              <a href="{{ el.additional_certificate.url }}" class="view-color-dark" target="_blank">View</a>
              {% else %}
              <span class="text-muted">---</span>
              {% endif %}
            </td>
            
            <td class="text">
              <form action="{% url 'delete-employee' el.id %}" method="post" class="d-inline"> 
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                
              </form>
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


    <!-- <table class="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Employee Code</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Date of Joining</th>
            <th scope="col">Phone</th>
            <th scope="col">Qualification</th>
            <th scope="col">Address</th>
            <th scope="col">CTC</th>
            <th scope="col">Resume</th>
            <th scope="col">Picture</th>
            <th scope="col">Edu Docs</th>
            <th scope="col">Aadhar</th>
            <th scope="col">Pan</th>
            <th scope="col">Certificate</th>
            <th scope="col">Additional Certificate</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for el in employee_list %}
          <tr>

            <td class="text-white font-weight-bold">{{ el.emp_id }}</td>
            <td class="text-white font-weight-bold"><a style="color:inherit;" href="{% url 'edit-employee' el.id %}">{{ el.name }}</a></td>
            <td class="text-white font-weight-bold">{{ el.email }}</td>
            <td class="text-white font-weight-bold">{{ el.gender }}</td>
            <td class="text-white font-weight-bold">{{ el.date_of_birth }}</td>
            <td class="text-white font-weight-bold">{{ el.joining_date }}</td>
            <td class="text-white font-weight-bold">{{ el.phone }}</td>
            <td class="text-white font-weight-bold">{{ el.qualification }}</td>
            <td class="text-white font-weight-bold">{{ el.address }}</td>
            <td class="text-white font-weight-bold">{{ el.ctc }}</td>
            <td class="text-white font-weight-bold">{{ el.resume }}</td>
            <td class="text-white font-weight-bold">{{ el.picture }}</td>
            <td class="text-white font-weight-bold">{{ el.edu_docs }}</td>
            <td class="text-white font-weight-bold">{{ el.aadhar }}</td>
            <td class="text-white font-weight-bold">{{ el.pan }}</td>
            <td class="text-white font-weight-bold">{{ el.certificate }}</td>
            <td class="text-white font-weight-bold">{{ el.additional_certificate }}</td>
            <td class="text-center">
              <form action="{% url 'delete-employee' el.id %}" method="post" class="d-inline"> 
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                
              </form>
            </td>
      
   
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
{% endif %}
    {% endblock content %}