{% load static %}
<div class="navbar-sec">
    <div class="wdi-img">
        <img src="https://ips.wdipl.com/assets/img/wdipl-logo-black.svg" alt="" width="100px">
      </div>

      <div class="prof-img">
        <div class="prof-inn">           
            <div class="item">
              <a class="sub-btn"><img src="{% static '/media/image/prof.png' %}" alt="" width="100px">  Admin<i class="fas fa-angle-right dropdown"></i></a>
              <div class="sub-menu">
                <a href="/logout/" class="sub-item">Logout</a>            
              </div>
            </div>
        </div>
      </div>
</div>

