{% extends 'app/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissable fade show" {% endif %}> <strong>{{message}}</strong><button type="button" class="close" data-dismiss="alert" area-label="Close"><span area-hidden="True">&times;</span></button></div>
    {% endfor %}
    {% endif %}
{% endblock msg %}

{% block content %} 
<section class="jumbotron jumbo-color">
    <h3>Employee Details</h3>
    <hr>
    <div class="container">

        <div class="row">
            
            <div class="col-md-5 col-sm-12">
                <div class="card-body ">
                    <div class="align-items-center">
                        <div class="profile-img text-center">
                            {% if emp.picture %}
                            <img src="{{emp.picture.url}}" alt="" height="250" width="300">
                            {% else %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                            {% endif %}
                        </div>
                        <div class="desi-name text-center mt-4">
                            <h3 class="text">{{ emp.name }}</h3>
                            <h3 class="text">{{ emp.designation }}</h3>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="col-md-7 col-sm-12">
                    <h2 class="section-title datails mb-4">Details</h2>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Email:</div>
                            <div class="col-7 details">{{ emp.email }}</div>
                        </div>
                    </div>
                    <br>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Contact:</div>
                            <div class="col-7 details">{{ emp.phone }}</div>
                        </div>
                    </div>
<br>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Qualification:</div>
                            <div class="col-7 details">{{ emp.qualification }}</div>
                        </div>
                    </div>
<br>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Employee ID:</div>
                            <div class="col-7 details">{{ emp.emp_id }}</div>
                        </div>
                    </div>

                    <br>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Date of Birth:</div>
                            <div class="col-7 details">{{ emp.date_of_birth }}</div>
                        </div>
                    </div>
                    <br>
                    <div class="progress-text">
                        <div class="row">
                            <div class="col-3">Joining Date:</div>
                            <div class="col-7 details">{{ emp.joining_date }}</div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>  
        </div>
    </div>
</section>
{% endblock content %}